* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}
.container {
  position: relative;
  width: 800px;
  margin: 0 auto;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 60px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}
h2::after {
  content: "TOP";
  background-color: yellow;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 30px;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
#author {
  font-style: italic;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.post-header {
  margin-bottom: 40px;
}
.like {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

article {
  margin-bottom: 60px;
}
article p:last-child {
  color: red;
}
a:link {
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:visited {
  color: #1098ad;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

nav {
  font-size: 18px;
}

nav a {
  display: inline-block;
  padding-top: 15px;
  padding-right: 20px;
  text-decoration: none;
}
