/**********************/
/*HEADER*/
/**********************/
.header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky later*/
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
